
  @import url('https://fonts.googleapis.com/css2?family=Besley:wght@600&family=Inter:wght@100;200&family=Roboto&family=Yanone+Kaffeesatz:wght@200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');

.navbar{
    display: flex;
    background: rgba(249, 232, 217, 0.74);
    max-width: 1920px;
    width: 100%;
    position: relative;
}
.logokale img{
    width: 100%;
    max-width: 162px;
}
.menu{
    display: flex;
    gap: 60px;
    align-items: center;
    
    font-size: 32px;
    font-family: 'Roboto';
    text-shadow: 0px 4px 4px rgb(0, 0, 0,0.25), 0px 4px 4px rgb(0, 0, 0,0.25);
    margin-left: 100px;
}
.menu div a{
    color: #527853;
    text-decoration: none;
}
.Vector img{
    width: 100%;
    max-width: 50px;
}
.Vector{
    display: flex;
    align-items: center;
    margin-left: 750px;
}
.banner{
    position: relative;
    width: 100%;
    max-width: 1920px;
    background: rgba(249, 232, 217, 0.74);
    height: 729px;
}
.banner img{
    position: absolute;
}
.banner .item1{
    width: 100%;
    max-width: 954px;
    right: 0;
    top: 85px;
}
.banner .item2{
    width: 100%;
    max-width: 370px;
    top: 290px;
    left: 400px;
}
.banner .item3{
    width: 100%;
    max-width: 748px;
    transform: rotate(-359deg);
    left: -300px;
}
.banner .item1_1{
    top: 75px;
}
.banner3{
    height: 448px !important;
}
.banner .item3_3{
    left: -100px !important;
    top: 40px;
    max-width: 400px !important;
}
.banner .item2_2{
    max-width: 800px;
    left: 270px;
    top: 100px;
}
footer{
    width: 100%;
    max-width: 1920px;
    height: 430px;
    margin-top: 122px;
}
footer div{
    color: #000;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
}
footer span{
    text-decoration-line: underline;
}
footer img{
    width: 100%;
}
.footer{
    max-width: 188px;
    margin-top: 26px;
    margin-left: 216px;
}
.footer1{
    margin-top: 70px;
    margin-left: 64px;
}
.footer2{
    margin-top: 37px;
    margin-left: 64px;
}
.clickline img{
    width: 100%;
    max-width: 761px;
}
.clickline{
    width: 100%;
    max-width: 761px;
    margin-left: auto;
    margin-right: auto;
}
.Aboutkale{
    color: #EE7214;
    font-family: 'Roboto';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    width: 100%;
    max-width: 280px;
    margin-top: 50px;
    margin-left: 100px;
}
.about1{
    color: #527853;
    font-family: 'Prompt';
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.kalebenefit{
    color: #EE7214;
    font-family: 'Roboto';
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    width: 100%;
    max-width: 445px;
    margin-top: 50px;
    margin-left: 100px;
}
ul{
    color: #527853;
    font-family: Prompt;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1302px;
    margin-top: 50px;
}
.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  .kalepage3{
    display: none;
  }
  .wellkalepage3{
    display: none;
    font-size: 24px;
    font-family: 'Roboto';
  }
  .wellkale2{
    display: none;
  }
  .Aboutkale3{
    display: none;
  }
@media only screen and (min-width: 835px){
    .ham-menu{
        display: none;
    }
}
@media screen and (max-width: 835px){
    .Aboutkale3{
        display: block;
    }
    .wellkale1{
        display: none;
    }
    .wellkale2{
        display: block;
    }
    .menu, .Vector{
        display: none;
    }
    .logokale img{
        max-width: 70px;
    }
    .navbar{
        height: auto;
        flex-direction: column;
        background-color: white;
    }
    .menu-active{
        display: block;
    }
    .menu{
        margin-left: 0px;
    }
    .menu div{
        padding: 10px;
        text-align: center;
    }
    .banner{
        height: 326px !important;
    }
    .banner .item3{
        max-width: 315px !important;
        left: -100px;
        top: -30px;
    }
    .banner .item2{
        max-width: 180px;
        left: 100px;
        top: 170px;
    }
    .banner .item1{
        max-width: 477px;
        top: 0;
    }
    .Aboutkale{
        font-size: 24px;
        margin-left: 50px;
    }
    .about1{
        font-size: 14px;
        max-width: 333px;
        margin-left: 65px;
    }
    .kalebenefit{
        font-size: 24px;
        margin-left: 50px;
    }
    ul{
        font-size: 14px;
        max-width: 333px;
        margin-left: 40px;
    }
    .clickline img, .clickline{
       max-width: 304px; 
    }
    .clickline{
        margin-top: 50px !important;
    }
    .footer{
        display: none;
    }
    .footer1, .footer2{
        font-size: 10px;
        margin-left: 32px;
    }
    .footer2{
        margin-top: 20px;
    }
    footer{
        max-width: 834px;
        height: 174px;
        margin-top: 56px;
    }
    .page2about{
        max-width: 680px !important;
        margin-left: 90px;
    }
    .kalepage, .kalepage img{
       max-width: 304px !important; 
       height: 109px !important;
    }
    .menukale{
        gap: 40px !important;
        margin-top: 20px !important;
    }
    .topickale{
        font-size: 20px !important;
        margin-top: 20px !important;
    }
    .kalemini{
        font-size: 13px !important;
    }
    .Menu{
        margin-top: 50px !important;
    }
    .banner .item2_2{
        display: none;
    }
    .kalepage3{
        display: block;
        left: 300px !important;
        top: 150px !important;
    }
    .banner .kalepage3-1{
        left: 500px !important;
        top: -100px;
        transform: rotate(124deg);
    }
    .icon3 img, .icon3{
        max-width: 59px !important;
    }
    .wellkalepage3{
        display: block;
    }
    .about3{
        font-size: 16px !important;
        margin-left: 50px !important;
        max-width: 400px !important;

    }
    .content-page3{
        display: flex;
    }
    .Icon-page3{
        display: flex;
        align-items: center;
        gap: 25px;
        margin-top: 40px;
    }
    .Icon{
        margin-left: 70px !important;
        margin-top: 10px !important;
    }
    .textpage4{
        font-size: 40px !important;
    }
    .oderpage4 img{
        max-width: 229px !important;
    }
    .oderpage4{
        max-width: 229px !important;
        height: 229px !important;
    }
    .border{
        max-width: 219px !important;
        height: 155px !important;
        bottom: 40px !important;
    }
    .Oder{
        gap: 40px !important;
        margin-top: 10px !important;
    }
    .lineclickpage4 img{
        max-width: 396px;
    }
    .lineclickpage4{
        margin-top: 30px !important;
    }
    .interexpress img{
        max-width: 426px !important;
    }
    .interexpress{
        max-width: 426px !important;
        margin-top: 30px !important;
    }
    .service{
        margin-left: 109px !important;
        margin-top: 30px !important;
    }
}
@media only screen and (max-width: 391px){
    
    .banner{
        height: 200px !important;
    }
    .banner .item1{
        max-width: 224px;
        top: 50px;
    }
    .banner .item2{
        max-width: 122px;
        top: 100px;
        left: 20px;
    }
    .banner .item3{
        max-width: 230px !important;
    }
    .Aboutkale{
        font-size: 32px;
    }
    .about1{
        margin-left: 20px;
    }
    ul{
        margin-left: 0;
    }
    .page2about{
        max-width: 321px !important;
        margin-top: 20px !important;
    }
    .menukale{
        flex-direction: column;
    }
    .kalepage3{
        left: 120px !important;
        top: 90px !important;
    }
    .banner .kalepage3-1 {
        left: 220px !important;
        top: -10px;
        transform: rotate(359deg);
    }
    .content-page3{
        flex-direction: column;
    }
    .textpage4{
        font-size: 20px !important;
        margin-top: 0 !important;
        text-align: center;
    }
    .textpage4 div:first-child{
        font-weight: 700;
        font-size: 20px;
    }
    .Oder{
        flex-direction: column;
        align-items: center;
        gap: 0 !important;
    }
    .lineclickpage4 img{
        max-width: 200px !important;
    }
    .interexpress img, .interexpress{
        max-width: 313px !important;
    }

}